@import 'normalize.css';

:root {
    --primary: #c19977;
    --textcolor: #161823;
    --black: #000;
    --white: #fff;
    --font-family: 'ProximaNova', sans-serif;
    --font-tittle: 'TittleFont', sans-serif;

    //Main layout
    --header-height: 60px;
    --header-container-width: 1250px;
    --default-layout-horizontal-spacer: 24px;
    --section-height: 568px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    // font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--textcolor);
    overflow-y: overlay;
}

.App {
    max-width: 160rem;
    margin: 0 auto;
}

.container {
    max-width: var(--header-container-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    width: 100%;
}

img {
    max-width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

input,
button,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--textcolor);
    text-decoration: none;
}

ol {
    margin: 0 !important;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

// custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
    }
}

.tittle {
    padding-top: 7rem;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    color: var(--primary);
    h2 {
        font-size: 4rem;
        font-weight: bold;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: block;
        width: 16rem;

        border-bottom: 0.1rem solid var(--primary);
    }

    .diamond-icon {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        bottom: 0;
        z-index: 1;
    }
}

section {
    scroll-margin-top: var(--header-height);
}

//Fonts emmbeded

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: TittleFont;
    src: url('/assets/fonts/MsMadi-Regular.ttf');
    font-weight: 400;
}

// .bgImage {
//     width: 100%;
//     height: 500px;
// }

// .wrapper {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     overflow: hidden;
// }

// .carousel-slides {
//     width: 80%;
// }
// .tittle {
//     position: absolute;
//     top: 0;
//     left: 0;
// }
