//custom-slick

.slick-slide {
    height: auto;
}
.slick-track {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.slick-slide {
    > div {
        margin: 0 2rem;
        height: 100%;
    }
}

.slick-arrow {
    width: auto;
    height: auto;
    border-radius: 50%;
    z-index: 1;
}

.slick-prev::before,
.slick-next::before {
    color: var(--primary);
    font-size: 4rem;
}

.slick-dots {
    li {
        margin: 0 2rem;
        button {
            width: 15px;
            height: 15px;
            border-radius: 999px;
            background-color: #dde0e4;
            font-size: 0;
            border: transparent;
            transition: all 0.2s linear;
        }

        button::before {
            content: '';
        }
    }

    .slick-active {
        button {
            background-color: var(--primary);
        }
    }
}
